<play-page class='el'>
    
    <player story="data" controls="true" ng-hide="showVideo()"></player>

    <video ng-show="showVideo()" controls="" ng-src="{{videoUrl | trustUrl}}"></video>


    <div class='buttons'>
      <ace-button ng-click="renderMP4()" class='clickable left render'>{{buttonText}}</ace-button>

      <!-- <select ng-show="audio" ng-model="selectedTrack" value="select Music" ng-change="selectMusic(track.name)" ng-options="t as track.name for track in audio track by track.audioId"></select> -->

      <select  ng-model="selectedTrack" ng-change="selectMusic(selectedTrack)">
        <option ng-repeat="track in audio" ng-selected="selectedTrack == track.name" value="{{item.Id}}" >{{track.name}}</option>
      </select>


      <div class='right'>
        <img class='clickable' ng-click='download()' src='img/player/downloadButton.png'/>
        <img class='clickable' src='img/player/twitterButton.png'/>
        <img class='clickable' src='img/player/facebookButton.png'/>
      </div>
    </div>
</play-page>