play-page player{
	width:60%;
	margin:30px auto;
}
play-page .buttons{
	width:60%;
	margin:30px auto;
	height:40px;
}
play-page .buttons img{
	float:right;
	height:100%;
	width:auto;
	margin-left:15px
}
play-page .buttons .render{
	position:relative;
	float:left;
	/*width: 50%;*/
	margin:0px 20px;
}
play-page .buttons select{
	position:relative;
	display:block;
	margin:auto;
}
play-page video{
	width:60%;
	height:auto;
	margin:30px auto;
	display:block;
}
play-page .buttons .section{
	position:realtive;
	float:left;
	width:33%;
	text-align:center;
}