<videos-page class='el'>
    
    <icon-button src="img/buttons/BackButton.png" class='goback' ng-click="goBack()"></icon-button>
    <ace-button ng-click="newVideo()" class='clickable new'>New Video</ace-button>

    <div style="clear:both;">
        <video-item ng-repeat="v in stories" class='el clickable' ng-click="goTo($index)">
            <div class='thumbnail'>
                <div class='resizer'></div>
                <img ng-src="{{v.posterUrl | trustUrl}}" class='poster'/>
                <icon-button src="img/buttons/deleteButton.png" class='delete'></icon-button>
            </div>
            
            <div class='title'>{{v.name}}</div>

            <div class='buttons'>
                <icon-button src="img/buttons/downloadButton.png" class='right'></icon-button>
                <icon-button src="img/buttons/shareButton.png" class='right'></icon-button>
            </div>

        </video-item>
    </div>
<videos-page>