<edit-page class='el'  ng-show="dataLoaded()">
    <asset ng-repeat="asset in data.body" class='el asset'>
        
        <div class='section'>
            <player asset="asset" controls="true" projectId="{{data.projectId}}"></player>

            <icon-button src="img/editor/deleteButton.png" class='delete' ng-click="deleteAsset($index)"></icon-button>
        </div>

        <div class='section'>
            <div class='header'>TEXT</div>
            <textarea rows="3" type="text" ng-model='asset.text' ng-keyup='didEdit()'>{{asset.text}}</textarea>
        </div>

        <div class='section' ng-show="asset.media.length>0">
            <div class='header'>BACKGROUND VISUAL</div>
            <img class='thumb left' ng-src='{{asset.media[0].url || trustUrl}}' />
            <ace-button ng-click="edit($index)" class='clickable edit-image left'>EDIT</ace-button>
            <div class='clearboth'></div>
        </div>

        <!-- <div class='section'>
            <div class='header'>DESIGN</div>
        </div> -->
    </asset>
</edit-page>