
<a href="/" class='tab home left'>
    <img src='img/twobirdlogo.png'/>
</a>
<a href="write{{urlQuery()}}" class='tab left labeled' ng-class="{active: isSetPage('write')}" ng-show='isEditing()'>
    <img src='img/nav/script.png'/>
    <div class='div-name'>Write</div>
</a>
<a href="edit{{urlQuery()}}" class='tab left labeled' ng-class="{active: isSetPage('edit')}" ng-show='isEditing()'>
    <img src='img/nav/editor.png'/>
    <div class='div-name'>Edit</div>
</a>
<a href="play{{urlQuery()}}" class='tab left labeled' ng-class="{active: isSetPage('play')}" ng-show='isEditing()'>
    <img src='img/nav/play.png'/>
    <div class='div-name'>Play</div>
</a>

<div class='left title' ng-hide='loggedin()'>Automated Creative</div>
<div class='left title' ng-show='isLoading()'>Working on it...</div>
<div class='left title'>{{title()}}</div>

<div class='tab right' ng-show='loggedin()'>
    <img src='img/nav/logout.png'/>
</div>
<div class='tab right' ng-show='loggedin()'>
    <img src='img/nav/settings.png'/>
</div>
<a href="{{clientHome()}}" class='tab right' ng-class="{active: isSetPage('user')}" ng-show='loggedin()'>
    <img src='img/nav/user.png'/>
</div>
